# Python / Django
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.env
media/
staticfiles/

# Virtual environment
venv/
.venv/

# React Native
node_modules/
npm-debug.log
yarn-error.log
.expo/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

